rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /Users/{document} {
      allow create: if request.auth != null;
      allow read: if request.auth != null;
      allow write: if request.auth != null;
      allow delete: if request.auth != null;
    }

    match /Users/{parent}/Movimientos/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if true;
      allow delete: if request.auth != null;
    }

    match /{path=**}/Movimientos/{document} {
      allow read: if true;
    }


    match /Users/{parent}/Infracciones/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if true;
      allow delete: if request.auth != null;
    }

    match /{path=**}/Infracciones/{document} {
      allow read: if true;
    }


    match /Users/{parent}/Vehiculos/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if true;
      allow delete: if request.auth != null;
    }

    match /{path=**}/Vehiculos/{document} {
      allow read: if true;
    }


    match /Users/{parent}/Balance/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if true;
      allow delete: if request.auth != null;
    }

    match /{path=**}/Balance/{document} {
      allow read: if true;
    }


    match /Users/{parent}/mensajesusuarios/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if true;
      allow delete: if request.auth != null;
    }

    match /{path=**}/mensajesusuarios/{document} {
      allow read: if true;
    }


    match /Hospedajes/{document} {
      allow create: if request.auth != null;
      allow read: if request.auth != null;
      allow write: if request.auth != null;
      allow delete: if request.auth != null;
    }

    match /provincias/{document} {
      allow create: if request.auth != null;
      allow read: if request.auth != null;
      allow write: if request.auth != null;
      allow delete: if request.auth != null;
    }

    match /provincias/{parent}/ciudades/{document} {
      allow create: if request.auth != null;
      allow read: if request.auth != null;
      allow write: if request.auth != null;
      allow delete: if request.auth != null;
    }

    match /{path=**}/ciudades/{document} {
      allow read: if request.auth != null;
    }


    match /Users/{parent}/autosinspeccionados/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if true;
      allow delete: if request.auth != null;
    }

    match /{path=**}/autosinspeccionados/{document} {
      allow read: if true;
    }


    match /autos_general/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if true;
      allow delete: if true;
    }

    match /ff_user_push_notifications/{id} {
      allow read, update, delete: if false;
      allow create: if /databases/$(database)/documents/Users/$(request.auth.uid) == request.resource.data.sender;
    }
  }
}
